<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://unpkg.com/vue@next"></script>
   <link rel="stylesheet" href="./style.css"/>
   <title>Document</title>
</head>
<body>
   <div class="demo" id="todo-list">
      <form v-on:submit.prevent="addNewTodo">
         <label for="new-todo"> Add a todo</label>
         <input
         v-model="newTodoText"
         id="new-todo"
         placeholder="do homework"
         />
         <button>Add</button>
      </form>
      <ul>
         <todo-item 
         v-for="(todo, index) in todos"
         v-bind:key="todo.id"
         v-bind:title="todo.title"
         v-on:remove="todos.splice(index, 1)"></todo-item>
      </ul>
   </div>
<script src="./app.js"></script>
</body>
</html>